* {
  box-sizing: border-box;
}

body {
  background-color: #24353f;
}

h1,
h2 {
  color: #17a2b8;
}

.form-div {
  box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}

.sign-up:hover {
  text-decoration: underline !important;
}

input::placeholder {
  color: white !important;
}

.navbar {
  box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}

.form-dv {
  height: 75vh !important;
}
